<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href='/static/css/indexstyle.css' />
    <img src="https://media.tenor.com/dKxFUhgijoMAAAAC/welcome-boy-welcome.gif">
    <style>
    img {
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -96px;
 margin-left: -138px;
 height: 222px;
 width: 360px;
}
body {
  background-image: url('https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226_640.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<body  style="background-color:#ccffcc">
<br>
<h2 align="center">welcome {{name}}!</h2>

</body>
</html>